/** Accessibility **/
/* Text meant only for screen readers. */
.sr-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.lecture img,
.img-responsive {
  max-width: 100%;
  height: auto;
}

/** colors **/
:root {
  --erie-black: #191919;
  --charcoal: #383c47;
  --light-periwinkle: #cbd3e2;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1em;
}
