.section-heading {
  padding: 16px;
  font-size: 1.2em;
  background-color: #191919;
  color: #ffffff;
  margin-bottom: 0;
}

.section-list {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #d7dadb;
  border-bottom: 1px solid #d7dadb;
}

.current-item a {
  border-right: 10px solid hsl(139deg 53% 74%);
  color: #98dfaf;
  font-weight: bold;
  background-color: hsl(0deg 0% 0% / 50%);
}

.section-item:not(:last-child) {
  /* border-bottom: 1px solid #ccc; */
  border-bottom: 1px solid rgb(230 232 233 / 25%);
}

.section-item__link {
  padding: 10px 16px;
  display: block;
  /* color: var(--color-dark); */
  color: #ffffff;
}

.section-item__link:hover {
  color: #3a3e49;
  text-decoration: none;
  background-color: #98dfaf;
}

.lecture {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  min-height: unset;
  height: calc(100vh);
  overflow-y: auto;
}
@media screen and (max-width: 767px) {
  .lecture {
    flex-direction: column;
  }
}

.course-main {
  padding: 1rem 2rem !important;
}

.course-sidebar {
  border-right: 1px solid #d7dadb;
  width: 350px;
  box-shadow: 0px 6px 20px rgb(32 39 45 / 15%);
  background-color: #f6f6f7;
  padding-left: 0px;
  padding-right: 0px;
  position: -webkit-sticky;
  position: sticky;
  overflow: auto;
  display: inline-block;
  flex: 0 0 auto;
  height: 100%;
  top: 0;
}

@media screen and (max-width: 767px) {
  .course-sidebar {
    height: 50px;
    width: 100%;
    position: fixed;
    display: none;
  }
}

.course-section {
  padding: 0;
  background-color: #747c92;
}
