.lecture {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  min-height: unset;
  height: calc(100vh);
  overflow-y: auto;
}

.course-sidebar {
  width: 350px;
  box-shadow: 0px 6px 20px rgb(32 39 45 / 15%);
  background-color: var(--white);
  padding-left: 0px;
  padding-right: 0px;
  position: -webkit-sticky;
  position: sticky;
  overflow: auto;
  display: inline-block;
  flex: 0 0 auto;
  height: 100%;
  top: 0;
}
