/* Navbar */
.navbar-nav .hamburger {
  display: none;
  color: #191919;
  padding: 8px 16px;
  font-size: 1.5em;
}

@media screen and (max-width: 767px) {
  .navbar-nav a {
    display: none;
  }
  .navbar-nav .hamburger {
    display: block;
  }
}
.navbar-brand {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0;
  min-width: 334px;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    max-width: calc(100% - 54px);
    margin-right: 0;
    width: 100%;
    min-width: unset;
  }
}
.navbar-brand__link {
  float: left;
  min-width: 38px;
  margin-right: 10px;
}

.course-nav-link {
  width: 100%;
  white-space: nowrap;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  height: 52px;
  align-items: center;
  display: flex;
  border-left: 1px solid;
  border-right: 1px solid;
  color: #191919;
  font-size: 0.85em;
}

.course-nav-link:hover {
  text-decoration: none;
  background-color: #191919;
  color: #fff;
  border-left: 1px solid #191919;
  border-right: 1px solid #191919;
}

@media screen and (min-width: 374px) {
  .course-nav-link {
    justify-content: center;
  }
}
.course-nav-link__text {
  padding-left: 10px;
}
